/* este codigo lo escribio jonh en la linea 90 */
/* .mi-clase{
  background-color: black;
  color: white;
  width: 400px;
}



/* este codigo lo escribio thanya en la linea 400 */
/* .clase-thanya{
  width: 600px;
  height: 200px;
  background-color: pink;
}  */

/* 
.btn-my{
  background-color: black;
  color: white;
}

.btn-my:hover{
  background-color: blueviolet;
}

.my-nav{
  background-color: black;
}

*/
.select{
  width: 50%;
} 