.container-fluid{
  background-color: cyan;
  height: 100vh;
}

.row{
  height: 10vh;
}

.negra{
  background-color: black;
}

.morada{
  background-color: rebeccapurple;
}

.otra{
  background-color: aliceblue;
  height: 12vh;
}

.verde{
  background-color: green;
}

.azul{
  background-color: blue;
  height: 11vh;
}

.amarillo{
  background-color: yellow;
}